.center-body{
    background-color: rgb(218, 240, 26);

}

.center-form {
    background-color: rgb(218, 240, 26);
    padding: 20px;
    margin: 0 auto;
    box-align: center;
    font: 16px sans-serif;
    border-radius: 10px;
    display: inline-block;
}
.center-textarea {
   
    margin: 10px 0;
    width: 540px;
    height: 200px;
}
h1{
    color: #0c050c;

}
li p{
    text-indent: 50px;
}
.error {
    color: red;
}